.card-block,
.card-block-full-width {
  box-shadow: $box-shadow-1x;

  border-width: $card-border-width;
  border-style: $card-border-style;
  border-color: $card-border-color;

  padding: 15px;
  background: $card-bg;
}

.card-block-full-width {
  padding: 0;
  border-left: none;
  border-right: none;
}

.card-tilt-right {
  transform: rotate(5deg);
  margin-bottom: 30px;

  transition: all 1s;

  &.slide-in.from-left {
    transform: translate(-200%) rotate(45deg);
  }
  &.slide-in.from-right {
    transform: translate(200%) rotate(45deg);
  }
}

.card-tilt-left {
  transform: rotate(-5deg);
  margin-bottom: 30px;

  transition: all 1s;

  &.slide-in.from-left {
    transform: translate(-200%) rotate(-45deg);
  }
  &.slide-in.from-right {
    transform: translate(200%) rotate(-45deg);
  }
}

.card-heading {
  color: $card-heading-color;
  text-align: center;
  padding: 0;
  margin: 15px;
}

.card-block.wedding-details-block {
  h3 {
    margin: -15px;
    margin-bottom: 0;
  }
}
