@import "mixins";
@import "variables";
@import "bootstrap/bootstrap";
@import "navbar/navbar";
@import "card/card";
@import "typography/typography";
@import "form/form";
@import "map/map";

.jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;

  // text
  h1 {
    margin-top: 600px;
    color: white;
  }
  p {
    color: white;
  }
  text-align: center;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading-block {
  padding: 15px 10px;
  position: relative;
  background-color: $brand;
  color: $brand-inverse;
  small {
    right: 0;
    position: absolute;
    padding: 20px;
    top: 0;
    color: $brand-inverse;
  }
}

.wedding-details-block,
.accommodation-block {
  p {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    line-height: 25px;
    margin: 5px 0;
    &:last-of-type {
      border-bottom-color: transparent;
    }
  }

  .fa {
    color: $brand-dark;
  }
}

.rsvp-button-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rsvp-reminder-text {
  padding-top: 15px;
  display: block;
  width: 100%;

  .rsvp-reminider-text-time {
    color: $rsvp-time-color;
  }
}

.rsvp-modal {
  h1 {
    color: $brand;
    text-align: center;
    padding: 0;
    @include font-fancy();
  }
}

.accommodation-wrapper {
  padding-top: 15px;
}

.hotel-list {
  padding-right: 0;
}

.photo-wrapper {
  -webkit-column-count: 4;
  -webkit-column-break-inside: avoid;
  .img-text-card {
     margin-top: 15px;
     display: inline-block;
  }
}

body {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

footer {
  background-color: $black;
  height: 200px;
}
