// Core colors
$black: rgba(#000000, 0.87);
$black-light-2x: rgba($black, 0.38);
$black-light-1x: rgba($black, 0.54);
$white: #ffffff;
$white-dark-1x: rgba(#ffffff, 0.70);
$white-dark-2x: rgba(#ffffff, 0.30);
$red: #F44336;

$grey: #ddd;
$grey-light-1x: rgba($grey, 0.60);
$grey-light-2x: rgba($grey, 0.30);

$grey-bg: #F9F7F1;

// Bootstrap variables
$gray: $black-light-1x;

// Brand specific colors
$brand: #3F51B5;
$brand-light-1x: rgba($brand, 0.6);
$brand-light-2x: rgba($brand, 0.4);
$brand-light-3x: #E3F2FD;
$brand-dark: darken($brand, 10%);
$brand-inverse: $white;

$brand-secondary: $red; //#FF9800; orange

// Element colors
$navbar-top-color: $white;

$box-shadow-1x: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

// RSVP
//$rsvp-callour-button-bg:
//$rsvp-callour-button-color:
$rsvp-time-color: $red;

// Bootstrap variables
$body-bg: $grey-bg;
$text-color: $black;

$font-family-sans-serif: Roboto, Arial, Helvetica, sans-serif;
$font-family-serif: Roboto, Arial, Helvetica, sans-serif;

$headings-font-family: 'Lobster';

//** Border color for inputs on focus
$input-border-focus:             $brand-light-2x;



@import "navbar/variables";
@import "card/variables";
@import "accommodation/variables";
@import "vendor-overrides/variables";
