.map-wrapper {
  margin: 3px 0;
}

#map {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  @include bp(md-up) {
    padding-bottom: 30%;
  }
}

// Moving the attributes up so that it's not obstructed by the accommodation
// arrows. They need to be visible as per Terms of Use.
.gm-style-cc,
.gmnoprint {
  bottom: 30px !important;
}
