$map-overlay-title-bg: $brand-primary;
$map-overlay-title-color: $white;

.map-wrapper {
  margin: 3px 0;
  position: relative;
}

#map {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  @include bp(md-up) {
    padding-bottom: 30%;
  }
}

// Legend
.map-overlay {
  position:absolute;
  top: 15%;

  &,
  > .card-block {
      padding: 0;
  }
}

// Legend (list styling)
.map-overlay-marker-list {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;

  li a {
    display: block;
    padding: 20px 30px;
    color: $black-light-1x;

    @include hover-wrapper() {
      text-decoration: none;
    }
  }

  .fa-right {
    float: right;
  }
  .fa-left {
    margin-right: 10px;
  }

  .active {
    background: #ddd;
    color: $brand;
    border-right: 3px $brand solid;
  }
}

// Legend (content styling)
.map-overlay-marker-content {
    display: none;

    &.active {
        display: block;
    }

    .title {
        padding: 10px 15px 5px;
        margin-top: 0;
        margin-bottom: 15px;
        background-color: $map-overlay-title-bg;
        color: $map-overlay-title-color;

        small {
            float: right;
        }

        a {
            color: $map-overlay-title-color;
        }
    }

    .footer-link {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}

// Moving the attributes up so that it's not obstructed by the accommodation
// arrows. They need to be visible as per Terms of Use.
.gm-style-cc,
.gmnoprint {
  bottom: 30px !important;
}
