.section.counter-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.counter-icon,
.counter-num {
  float: left;
}

// Flex stuff
.counter-wrapper {
  display: flex;

  .counter-icon,
  .counter-num,
  .counter-unit {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


// Icon colours
.counter-section .counter-wrapper {
  &:nth-of-type(n + 1) {
     .counter-icon {
      color: #673AB7;
    }
  }
  &:nth-of-type(n + 2) {
    .counter-icon {
      color: #4CAF50;
    }
  }
  &:nth-of-type(n + 3) {
    .counter-icon {
      color: #F44336;
    }
  }
  &:nth-of-type(n + 4) {
    .counter-icon {
      color: #E91E63;
    }
  }
}

.counter-icon .fa {
  @include responsive-text(3em, 3em, 4em, 4em);
}

.counter-num {
  @include responsive-text(1em, 2em, 3em, 4em);
}

.counter-unit {
  @include responsive-text(0.75em, 1em, 1.25em, 1.5em);
}
