.wedding-details-block {
  border: 1px #ddd solid;
  padding: 30px 15px;
  background: white;

  .title {
    text-align: center;
  }
}

// Section of a single day in the wedding details
.details-day-section {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;
    @include bp(sm-up) {
        flex-direction: row;
    }
}
