<script id="jumbotron-partial" type="text/x-handlebars-template">
    <div data-parent data-type="{{type}}">
        <div class="jumbotron" data-editable="image,center,text" data-id="{{id}}" style="background: url({{image}}) no-repeat; background-size: cover; background-position: {{center}}%">
            <div class="container">
                <div class="heading">
                    <h1>Sao & Pat's Wedding</h1>
                    <p>{{text}}</p>
                </div>
                <div class="heading-bottom">
                    <p>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-chevron-down fa-stack-1x"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>
