<script id="input-image-yes-no" type="text/x-handlebars-template">
    <div data-editable="title,image" data-id="{{id}}">
        <div class="rsvp-location-block">
            <img id="{{id}}" class="img-responsive img-filter-transition" src="{{image}}">
            <h4 class="text-center">{{title}}</h4>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="col-xs-6 btn btn-default active">
                <input data-img="{{id}}" data-img-type="yes" type="radio" name="reception" id="option1" autocomplete="off">Yes</input>
            </label>
            <label class="col-xs-6 btn btn-default">
                <input data-img="{{id}}" data-img-type="no" type="radio" name="reception" id="option3" autocomplete="off">No</input>
            </label>
        </div>
    </div>
</script>

<script id="input-text" type="text/x-handlebars-template">
    <div class="form-group" data-editable="label,name,is-required" data-id="{{id}}">
        <label>{{label}} {{#if is-required}}<small>(required)</small>{{/if}}</label>
        <input type="text" class="form-control" name="{{name}}">
    </div>
</script>

<script id="input-textarea" type="text/x-handlebars-template">
    <div class="form-group" data-editable="label,name,placeholder" data-id="{{id}}">
        <label>{{label}}</label>
        <textarea class="form-control" name="{{name}}" placeholder="{{placeholder}}"></textarea>
    </div>
</script>

<script id="rsvp" type="text/x-handlebars-template">
    <div id="rsvp" data-parent data-type="{{type}}" data-editable="image" data-id="{{id}}">
        <div class="section full-page rsvp-section bg-img-brand-light-3x" style="background: url({{image}}) no-repeat; background-size: cover;">
            <div class="container wow fadeInUp" data-wow-offset="150">
                <h1 style="color: white; margin-bottom: 30px">Will you attend?</h1>
                <div data-editable="form,hidden-name,hidden-value" data-id="{{id}}" class="col-sm-offset-2 col-xs-12 col-sm-8 card-block" style="background: white; padding: 30px 15px 15px; border-radius: 4px">
                    <h3 style="text-align: center">R.S.V.P</h3>
                    <form action="{{form}}" method="POST">
                        <input type="hidden" id="idstamp" name="{{hidden-name}}" value="{{hidden-value}}" />
                        {{#each input}}
                            {{> input-text this }}
                        {{/each}}
                        <div data-add="input-text" data-model="rsvp:data.input" style="clear: both">
                            Add new
                        </div>
                        <div class="form-group">
                            <label>Will you be joining us?<small>(required)</small></label>
                            <div class="row">
                                {{#each locations }}
                                <div class="col-sm-6">
                                    {{> input-image-yes-no this }}
                                </div>
                                {{/each}}
                                <div data-add="input-image-yes-no" data-model="rsvp:data.locations" style="clear: both">
                                    Add new
                                </div>
                            </div>
                        </div>
                        {{#each textarea}}
                            {{> input-textarea this }}
                        {{/each}}
                        <div data-add="input-textarea" data-model="rsvp:data.textarea" style="clear: both">
                            Add new
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-submit" type="submit" style="font-size: 24px; padding: 10px 0">Send away!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
