<script id="synopsis-card-text" type="text/x-handlebars-template">
	<div data-editable="image,title,moreText,shortText,rot" data-id="{{id}}">
	    <div class="card-block spaced" style="transform: rotate({{rot}}deg);">
	      <img class="img-responsive" src="{{image}}">
	    </div>
	    	<h1 class="card-heading"><span>{{title}}</span></h1>
		<div class="synopsis-text">
		    <p>{{shortText}}</p>
			{{#if moreText}}
				<div class="read-more-text">
					<p>{{moreText}}</p>
				</div>
				<a class="read-more-link" data-read-more>
					Read More
				</a>
			{{/if}}
		</div>
	</div>
</script>

<script id="synopsis" type="text/x-handlebars-template">
    <div id="synopsis" class="container section full-page" data-parent data-type="{{type}}">
      <div class="row">
        <div class="col-sm-6 wow fadeInLeft" data-wow-offset="100">
          {{> synopsis-card-text bride }}
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-offset="100">
          {{> synopsis-card-text groom }}
        </div>
      </div>
      <div class="row friends">
        <div class="col-sm-6 wow fadeInLeft" data-wow-offset="100">
		  	{{#each bride.friend }}
	        	{{> synopsis-card-text this }}
			{{/each}}
			<div data-add="synopsis-card-text" data-model="synopsis:data.bride.friend">
				Add new
			</div>
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-offset="100">
		  	{{#each groom.friend }}
	        	{{> synopsis-card-text this }}
			{{/each}}
			<div data-add="synopsis-card-text" data-model="synopsis:data.groom.friend">
				Add new
			</div>
        </div>
      </div>
    </div>
</script>
