<script id="synopsis-card-text" type="text/x-handlebars-template">
	<div data-editable="image,title,text,rot" data-id="{{id}}">
	    <div class="card-block spaced" style="transform: rotate({{rot}}deg);">
	      <img data-id="{{id}}" class="img-responsive" src="{{image}}">
	      <h1 data-id="{{id}}" class="card-heading"><span>{{title}}</span></h1>
	    </div>
	    <div>
	      <p data-id="{{id}}">{{text}}</p>
	    </div>
	</div>
</script>

<script id="synopsis" type="text/x-handlebars-template">
    <div class="container" data-parent data-type="{{type}}">
      <div class="row section">
        <div class="col-sm-6 wow fadeInLeft" data-wow-offset="100">
          {{> synopsis-card-text bride }}
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-offset="100">
          {{> synopsis-card-text groom }}
        </div>
      </div>
      <div class="row section">
        <div class="col-sm-6 wow fadeInLeft" data-wow-offset="100">
		  	{{#each bride.friend }}
	        	{{> synopsis-card-text this }}
			{{/each}}
			<div data-add="synopsis-card-text" data-model="synopsis:data.bride.friend">
				<p>Add me</p>
			</div>
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-offset="100">
		  	{{#each groom.friend }}
	        	{{> synopsis-card-text this }}
			{{/each}}
        </div>
      </div>
    </div>
</script>
