$accommodation-triangle-bg: $brand;
$accommodation-triangle-border: $brand-light-1x;

$accommodation-bg: $white;
$accommodation-color: $black;

$accommodation-active-bg: $brand;
$accommodation-active-color: $brand-inverse;

$accommodation-transition-timer: 0.5s;
